<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="allfile"
				fileName="${basedir}/logs/nlog-all.log"
				archiveFileName="${basedir}/logs/archive/nlog-all-{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveDays="2"
				keepFileOpen="true"
				concurrentWrites="false"
				createDirs="true"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="ownFile"
				fileName="${basedir}/logs/nlog-own.log"
				archiveFileName="${basedir}/logs/archive/nlog-own-{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveDays="2"
				keepFileOpen="true"
				concurrentWrites="false"
				createDirs="true"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="errorFile"
				fileName="${basedir}/logs/nlog-errors.log"
				archiveFileName="${basedir}/logs/archive/nlog-errors-{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveDays="2"
				keepFileOpen="true"
				concurrentWrites="false"
				createDirs="true"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="allfile" />
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile" />

		<logger name="Microsoft.AspNetCore.HttpLogging.*" minlevel="Info" writeTo="ownFile" />

		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Debug" maxlevel="Warn" writeTo="ownFile" />
		<logger name="*" minlevel="Error" writeTo="errorFile" />
	</rules>
</nlog>